NODE_ENV=development
PORT=3000

# DATABASE configuration
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=

# PROD DATABASE configuration
DATABASE_PROD=
DATABASE_USERNAME_PROD=
DATABASE_PASSWORD_PROD=
DATABASE_HOST_PROD=